<div class="go-back-panel">
  <p-button label="Back" icon="pi pi-chevron-left" (click)="goBack.emit()"/>
</div>
<div *ngIf="show" class="content"
     [style.background-image]="'url(&quot;/api/backdrop?id=' + show.id + '&cs=' + checksum53(show.name) + '&quot;)'">
  <div class="poster-area">
    <div class="logo">
      <img *ngIf="show.logo" [ngSrc]="'/api/logo?url=' + encodeForUri(show.logo)" alt="{{show.name}}" fill priority="true">
    </div>
    <div class="poster">
      <img [ngSrc]="'/api/poster?id=' + show.id + '&amp;cs=' + checksum53(show.name)" alt="{{show.name}}"
           class="poster" fill priority>
    </div>
  </div>
  <div class="show-info-wrapper">
    <div class="show-info">
      <div class="show-title">{{getSeasonTitle(show)}}</div>
      <div class="info-line">
        <app-rating *ngIf="show.voteAverage" [value]="show.voteAverage" [topValue]="10"></app-rating>
        <span *ngIf="showYear()">{{selection.year}}</span>
        <span *ngIf="showAirDate()">{{selection.airDate}}</span>
        <span *ngIf="show.certification" class="rating">{{show.certification}}</span>
        <span *ngIf="video.duration" class="duration">{{getDuration()}}</span>
      </div>
      <div *ngIf="getGenres()" class="genres">{{getGenres()}}</div>
      <div *ngIf="videoLabels.length > 1" class="video-choices">
        <span *ngFor="let label of videoLabels">{{label}}</span>
      </div>
      <div *ngIf="show.tagLine" class="tag-line">{{show.tagLine}}</div>
      <div *ngIf="show.type === TV_SEASON" class="episode-title"><span *ngIf="selection.episode">Episode {{selection.episode}}: </span>
        {{selection.name}}</div>
      <div class="overview">{{selection.overview}}</div>
      <div class="file">{{video.uri}}</div>
    </div>
  </div>
</div>
