:host {
  background-color: #444;
  color: white;
  display: block;
}

.go-back-panel {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  height: 3.5em;
  left: 0;
  padding-left: 2em;
  right: 0;
  top: 0;
  z-index: 210;
}

.content {
  align-content: center;
  background-size: cover;
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 4em;
  height: calc(100vh - 3.5em);
  padding: 1em;

  .poster-area {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;

    .logo {
      bottom: 56vw;
      position: absolute;
      width: 20vw;
    }

    .poster {
      box-shadow: 8px 8px 3px 3px rgba(black, 40%);
      height: 36vw;
      width: 24vw;
    }
  }

  .show-info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: end;

    .show-info {
      background-color: rgba(black, 60%);
      padding: 1em;

      .show-title {
        font-size: 2em;
      }

      .tag-line {
        font-weight: bold;
        padding: 0.5em 0;
      }
    }
  }
}
