<div class="go-back-panel">
  <p-button label="Back" icon="pi pi-chevron-left" (click)="goBack.emit()"/>
</div>
<div *ngIf="show" class="content"
     [style.background-image]="'url(&quot;/api/backdrop?id=' + show.id + '&cs=' + checksum53(show.name) + '&quot;)'">
  <div class="poster-area">
    <div class="logo">
      <img *ngIf="show.logo" [ngSrc]="'/api/logo?url=' + encodeForUri(show.logo)" alt="{{show.name}}" fill priority="true">
    </div>
    <div class="poster">
      <img [ngSrc]="'/api/poster?id=' + show.id + '&amp;cs=' + checksum53(show.name)" alt="{{show.name}}"
           class="poster" fill priority>
    </div>
  </div>
  <div class="show-info-wrapper">
    <div class="show-info">
      <div class="show-title">{{getSeasonTitle(show)}}</div>
      <div class="info-line">
        <app-rating *ngIf="show.voteAverage" [value]="show.voteAverage" [topValue]="10"></app-rating>
        <span *ngIf="showYear()">{{selection.year}}</span>
        <span *ngIf="showAirDate()">{{selection.airDate}}</span>
        <span *ngIf="show.certification" class="rating">{{show.certification}}</span>
        <span *ngIf="video.duration" class="duration">{{getDuration()}}</span>
      </div>
      <div *ngIf="getGenres()" class="genres">{{getGenres()}}</div>
      <div *ngIf="videoLabels.length > 1" class="video-choices">
        <span *ngFor="let label of videoLabels; index as i"
              [ngStyle]="i === videoIndex ? { 'background-color': 'rgba(255, 255, 255, 0.75)',
                'color': 'black', 'box-shadow': '#69F 0 0 3px 3px' } : null"
              [style.opacity]="videoChoices[i].watched ? '0.5' : '1'"
              (click)="selectVideo(i)"
        >{{label}}</span>
      </div>
      <div *ngIf="show.tagLine" class="tag-line">{{show.tagLine}}</div>
      <div *ngIf="show.type === TV_SEASON" class="episode-title">{{selection.name}}</div>
      <div *ngIf="anyOverview" class="overview"><div>{{selection.overview}}</div></div>
      <div class="file"><a [href]="downloadLink()"><div>{{startOfPath()}}</div><div>{{endOfPath()}}</div></a></div>
    </div>
  </div>
</div>
