<div class="go-back-panel">
  <p-button label="Back" icon="pi pi-chevron-left" (click)="goBack.emit()"/>
</div>
<div *ngIf="show" class="content"
     [style.background-image]="'url(&quot;/api/backdrop?id=' + show.id + '&cs=' + checksum53(show.name) + '&quot;)'">
  <div class="poster-area">
    <div class="logo">
      <img *ngIf="show.logo" [ngSrc]="'/api/logo?url=' + encodeForUri(show.logo)" alt="{{show.name}}" fill>
    </div>
    <div class="poster">
      <img [ngSrc]="'/api/poster?id=' + show.id + '&amp;cs=' + checksum53(show.name)" alt="{{show.name}}" class="poster" fill>
    </div>
  </div>
  <div class="show-info-wrapper">
    <div class="show-info">
      <div class="show-title">{{getSeasonTitle(show)}}</div>
      <div *ngIf="show.tagLine" class="tag-line">{{show.tagLine}}</div>
      <div>{{show.overview}}</div>
    </div>
  </div>
</div>
