:host {
  background-color: #444;
  color: white;
  display: block;
}

.go-back-panel {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  gap: 1em;
  height: 3.5em;
  left: 0;
  padding-left: 2em;
  right: 0;
  top: 0;
  z-index: 210;
}

.content {
  align-content: center;
  background-size: cover;
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: clamp(1em, calc(1em + calc(100vw - 600px) / 14), 4em);
  height: calc(100dvh - 3.5em);
  padding: 1em;

  .background-fader {
    background-size: cover;
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 3.5em;
    transition: opacity 0.75s ease-in;
  }

  .thumbnail {
    background-size: cover;
    box-shadow: 0 0 3px 3px rgba(white, 75%);
    height: 200px;
    position: absolute;
    right: 2em;
    top: 5.5em;
  }

  .poster-area {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    .logo {
      position: absolute;
      top: calc(-23% - 1em);
      width: min(20vw, 31.67dvh);

      img {
        position: relative !important;
      }
    }

    .poster {
      height: calc(min(calc(100vw - 33em), 33dvh) * 1.5);
      width: min(calc(100vw - 33em), 33dvh);

      img {
        box-shadow: 8px 8px 3px 3px rgba(black, 40%);
        height: auto !important;
      }
    }
  }

  .show-info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: end;

    .show-info {
      background-color: rgba(black, 60%);
      padding: 1em;
      position: relative;

      a:link, a:visited {
        color: #0CF;
      }

      a:hover, a:active {
        color: white;
      }

      a  {
        display: inline-block;
        position: relative;
        top: -2px;

        > .pi {
          position: relative;
          top: 2px;
        }

        > blank {
          text-decoration: none;
        }
      }

      .show-title {
        font-size: 2em;
      }

      .info-line {
        align-items: center;
        column-gap: 1em;
        display: flex;
        margin: 0.25em 0;
        min-height: calc(1.1em + 3px);

        .air-date, .duration, .homepage, .rating {
          white-space: nowrap;
        }

        .rating {
          border: white 1.5px solid;
          border-radius: 0.2em;
          padding: 0.05em 0.4em;
          user-select: none;
          white-space: nowrap;
        }
      }

      .genres {
        font-size: 0.8em;
      }

      .video-categories {
        display: flex;
        gap: 1em;
        margin: 0.75em 0;
      }

      .video-choices {
        display: flex;
        flex-wrap: wrap;
        font-size: 1.2em;
        font-weight: bold;
        gap: 0.5em;
        margin: 0.25em 0;

        span {
          cursor: pointer;
          display: block;
          background-color: rgba(white, 40%);
          min-width: 1.75em;
          padding: 0.2em 0.25em;
          text-align: center;
          user-select: none;
        }
      }

      .swappable-info {
        align-items: stretch;
        display: flex;
        gap: 0.25em;
        margin-top: 0.75em;

        .general-wrapper, .gallery-wrapper {
          flex-grow: 0;
          overflow: hidden;
          position: relative;
          transition-duration: 0.5s;
          transition-property: flex-grow, width;
          transition-timing-function: ease-in-out;
          width: 0;

          &.expand {
            flex-grow: 1;
            width: calc(100vw - 11em - min(calc(100vw - 33em), 33dvh));
          }

          .general, .gallery {
            bottom: 0;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
          }
        }

        .general-wrapper {
          .general {
            .text-wrapper {
              height: 9.2em;
              overflow-x: hidden;
              overflow-y: auto;

              .episode-title, .tag-line {
                font-weight: bold;
                margin-bottom: 0.75em;
                width: var(--overview-width);
              }

              .overview {
                line-height: 1.2em;
                margin-top: 0.75em;
                white-space: pre-line;

                .overview-content {
                  width: var(--overview-width);
                }
              }
            }

            .badges {
              bottom: 0;
              display: flex;
              flex-wrap: wrap;
              gap: 0.33em;
              margin-top: 0.5em;
              position: absolute;

              .badge {
                background-color: white;
                border: white 1.5px solid;
                border-radius: 0.2em;
                color: black;
                padding: 0 0.4em;
                user-select: none;
                white-space: nowrap;
              }
            }
          }
        }

        .tab {
          align-items: center;
          border: 1.5px solid white;
          border-radius: 0.5em;
          cursor: pointer;
          display: flex;
          flex-grow: 0;
          font-size: 0.8em;
          height: 14em;
          justify-content: center;
          min-width: 25px;
          padding: 0 0.2em;
          text-align: center;
          vertical-align: middle;

          span {
            text-orientation: upright;
            writing-mode: vertical-lr;
          }
        }

        .gallery-wrapper {
          overflow: hidden;
          position: relative;

          &.expand {
            flex-grow: 1;
            width: auto;
          }

          .gallery {
            display: flex;
            gap: 1em;
            left: 1em;
            overflow-x: auto;
            overflow-y: hidden;
            position: absolute;
            right: 1em;

            .person {
              align-items: center;
              display: flex;
              flex-direction: column;
              gap: 0.25em;
              position: relative;
              user-select: none;

              .image-frame {
                background-image: url("/assets/generic_person.jpg");
                background-size: contain;
                border-radius: 50%;
                height: 100px;
                min-height: 100px;
                min-width: 100px;
                overflow: hidden;
                width: 100px;

                img {
                  top: -20px;
                  pointer-events: none;
                  position: relative;
                }
              }

              .director, .name {
                max-width: calc(100px + 1.5em);
                position: relative;
                text-align: center;
                top: -1.4em;
              }

              .director {
                color: white;
                font-style: italic;
                text-align: center;
                text-shadow: 0 0 3px #444, -1px -1px 3px #444, -1px 1px 3px #444, 1px -1px 3px #444, 1px 1px 3px #444;
              }

              .name {
                display: -webkit-box;
                min-height: 2.4em;
                overflow: hidden;
                text-align: center;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
              }
            }
          }
        }
      }

      .file-wrapper {
        height: 33px;
        margin-top: 0.75em;
        position: relative;

        .file {
          align-items: center;
          column-gap: 1em;
          display: flex;
          left: 0;
          position: absolute;
          right: 0;
          top: 0;

          button {
            flex-shrink: 0;
          }

          a {
            display: flex;
            flex-shrink: 1;
            overflow: hidden;
            position: relative;
            top: -4px;

            > div {
              font-family: "Courier New", monospace;
              font-weight: bold;
              line-height: 1.6em;
              height: 1.6em;
              margin-top: 0.75em;
              white-space: nowrap;
            }

            > div:first-child {
              flex-shrink: 1;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            > div:last-child {
              flex-shrink: 0;
            }
          }
        }
      }
    }
  }
}

@media screen and (orientation: portrait) and (max-width: 620px) {
  .content {
    grid-template-columns: auto;

    .poster-area {
      .logo {
        display: none;
      }

      .poster {
        height: calc(100dvh - 32em);
        width: auto;

        img {
          height: calc(100dvh - 32em) !important;
          position: static !important;
          width: auto !important;
        }
      }
    }

    .show-info-wrapper {
      width: calc(100vw - 2em);

      .show-info {
        .show-title {
          font-size: 1.6em;
          max-width: calc(100% - 2em);
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .info-line {
          overflow: hidden;

          .homepage .text {
            display: none;
          }
        }

        .file-wrapper {
          height: 60px;

          .file {
            flex-wrap: wrap;

            .info-btn {
              display: none;
            }

            a {
              flex-basis: 100%;
            }
          }
        }

        .swappable-info {
          .general-wrapper .general .text-wrapper {
            height: 5.5em;
          }

          .gallery-wrapper .gallery .person .image-frame {
            height: 66.7px;
            min-height: 66.7px;
            min-width: 66.7px;
            width: 66.7px;
          }

          img {
            transform: scale(0.667);
            transform-origin: top left;
          }

          .tab {
            height: 9em;
          }
        }
      }
    }
  }
}

@media screen and (max-height: 800px) {
  .content {
    .poster-area .logo {
      display: none;
    }

    .show-info-wrapper .show-info .swappable-info {
      .general-wrapper .general .text-wrapper {
        height: 5.5em;
      }

      .gallery-wrapper .gallery .person .image-frame {
        height: 66.7px;
        min-height: 66.7px;
        min-width: 66.7px;
        width: 66.7px;

        img {
          transform: scale(0.667);
          transform-origin: top left;
        }
      }

      .tab {
        height: 9em;
      }
    }
  }
}
