<div class="go-back-panel">
  <p-button label="Back" icon="pi pi-chevron-left" (click)="goBack.emit()"/>
  <p-button icon="pi pi-stop" styleClass="p-button-rounded p-button-danger" (click)="sendStop()"
    [disabled]="!status?.processing || stopPending"></p-button>
  <p-progressBar *ngIf="updateProgress >= 0 && status?.processing" [value]="updateProgress"
                 [showValue]="false"></p-progressBar>
</div>
<div class="content">
  <p-button label="Refresh Video Library" icon="pi pi-refresh"
            [disabled]="status?.processing" (click)="!status?.processing && (showRefreshDialog = true)"/>
  <p-button label="Refresh Video Inventory" icon="pi pi-refresh"
            [disabled]="status?.processing" (click)="!status?.processing && refreshInventory()"/>
  <table>
    <tr>
      <th>Movie file count</th>
      <td>{{videoStats?.videoCount ? videoStats.movieCountRaw : ''}}</td>
    </tr>
    <tr>
      <th>Unique movie titles</th>
      <td>{{videoStats?.videoCount ? $any(videoStats.movieTitles)?.length : ''}}</td>
    </tr>
    <tr>
      <th>Movie storage usage</th>
      <td>{{videoStats?.videoCount ? formatSize(videoStats.movieBytes) : ''}}</td>
    </tr>
    <tr>
      <th>TV file count</th>
      <td>{{videoStats?.videoCount ? videoStats.tvEpisodesRaw : ''}}</td>
    </tr>
    <tr>
      <th>Unique TV show titles</th>
      <td>{{videoStats?.videoCount ? $any(videoStats.tvShowTitles)?.length : ''}}</td>
    </tr>
    <tr>
      <th>Unique TV show episodes</th>
      <td>{{videoStats?.videoCount ? $any(videoStats.tvEpisodeTitles)?.length : ''}}</td>
    </tr>
    <tr>
      <th>TV storage usage</th>
      <td>{{videoStats?.videoCount ? formatSize(videoStats.tvBytes) : ''}}</td>
    </tr>
    <tr>
      <th>DVD ISO image count</th>
      <td>{{videoStats?.dvdIsoCount ? videoStats.dvdIsoCount : '0'}}</td>
    </tr>
    <tr>
      <th>Non-DVD ISO image count</th>
      <td>{{videoStats?.isoCount ? videoStats.isoCount : '0'}}</td>
    </tr>
    <tr>
      <th>Bonus materials file count</th>
      <td>{{videoStats?.videoCount ? videoStats.extrasCount : ''}}</td>
    </tr>
    <tr>
      <th>Bonus materials storage usage</th>
      <td>{{videoStats?.videoCount ? formatSize(videoStats.extrasBytes) : ''}}</td>
    </tr>
    <tr>
      <th>Miscellaneous file count</th>
      <td>{{videoStats?.videoCount ? videoStats.miscFileCount : ''}}</td>
    </tr>
    <tr>
      <th>Miscellaneous storage usage</th>
      <td>{{videoStats?.videoCount ? formatSize(videoStats.miscFileBytes) : ''}}</td>
    </tr>
    <tr>
      <th>Streaming file count</th>
      <td>{{videoStats?.videoCount ? videoStats.streamingFileCount : ''}}</td>
    </tr>
    <tr>
      <th>Unstreamed video count</th>
      <td>{{videoStats?.videoCount ? $any(videoStats.unstreamedTitles)?.length : ''}}</td>
    </tr>
    <tr>
      <th>Streaming storage usage</th>
      <td>{{videoStats?.videoCount ? formatSize(videoStats.streamingFileBytes) : ''}}</td>
    </tr>
    <tr>
      <td colspan=2><hr></td>
    </tr>
    <tr>
      <th class="has-footnote">Total viewing time<span class="star">*</span></th>
      <td>{{videoStats?.totalDuration ? formatMillisToDays(videoStats.totalDuration) : ''}}</td>
    </tr>
    <tr>
      <th class="has-footnote">Video file count<span class="star">**</span></th>
      <td>{{videoStats?.videoCount}}</td>
    </tr>
    <tr>
      <th class="has-footnote">Video storage usage<span class="star">**</span></th>
      <td>{{videoStats?.videoCount ? formatSize(videoStats.movieBytes + videoStats.tvBytes + videoStats.extrasBytes) : ''}}</td>
    </tr>
    <tr>
      <th>Total storage usage</th>
      <td>{{videoStats?.videoCount ? formatSize(videoStats.movieBytes + videoStats.tvBytes + videoStats.extrasBytes
        + videoStats.miscFileBytes + videoStats.streamingFileBytes) : ''}}</td>
    </tr>
  </table>
  <div class="footnote">*Not including bonus material, only longest duration of movies/shows with multiple cuts/formats</div>
  <div class="footnote">**Not including streaming/miscellaneous</div>
  <hr style="width: 100%">
  <div class="process-options" [class.mask]="status?.processing">
    <div class="row">
      <p-checkbox [(ngModel)]="setEarliest" [binary]="true" label="Set earliest"></p-checkbox>
      <p-calendar [(ngModel)]="options.earliest" dateFormat="yy-mm-dd" [showIcon]="true" [disabled]="!setEarliest"></p-calendar>
    </div>
    <div class="skip-options">
      <p-checkbox [(ngModel)]="options.skipMovies" [binary]="true" label="Skip movies"></p-checkbox>
      <p-checkbox [(ngModel)]="options.skipTV" [binary]="true" label="Skip TV shows"></p-checkbox>
      <p-checkbox [(ngModel)]="options.skipExtras" [binary]="true" label="Skip extras"></p-checkbox>
    </div>
    <p-checkbox [(ngModel)]="options.generateStreaming" [binary]="true" label="Generate streaming files"></p-checkbox>
    <p-checkbox [(ngModel)]="options.mkvFlags" [binary]="true" label="Update MKV flags"></p-checkbox>
  </div>
  <p-button label="Process" icon="pi pi-wrench"
            [disabled]="status?.processing" (click)="!status?.processing && runProcess()"/>
  <div>{{currentFile}}<span style="opacity: 0; user-select: none">：</span></div>
  <div class="mono">{{currentFile ? encodeProgress : ''}}</div>
</div>
<p-dialog header="Header" [(visible)]="showRefreshDialog" [style]="{ width: 'min(35em, calc(100vw - 4em))' }">
  <ng-template pTemplate="header">
    <span class="p-dialog-title">Refresh Video Library</span>
  </ng-template>
  <p>
    Refresh the video library?
  </p>
  <ng-template pTemplate="footer">
    <div class="p-dialog-footer">
      <button pButton icon="pi pi-refresh" (click)="refresh()" label="Full"></button>
      <button pButton icon="pi pi-check" (click)="refresh(true)" label="Quick"></button>
      <button pButton icon="pi pi-times" (click)="showRefreshDialog = false" label="Cancel"></button>
    </div>
  </ng-template>
</p-dialog>
