:host {
  background-color: #8AF;
  color: white;
  display: block;
}

.go-back-panel {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  gap: 1em;
  height: 3.5em;
  left: 0;
  padding-left: 2em;
  right: 0;
  top: 0;
  z-index: 410;

  p-progressBar {
    max-width: calc(100vw - 292px);
  }
}

.content {
  align-items: start;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 1em;
  height: calc(100dvh - 3.5em);
  overflow: auto;
  padding: 1em;
  position: relative;

  .row {
    align-items: center;
    display: flex;
    gap: 1em;

    label > input {
      margin-left: 0.5em;
    }
  }

  .mono {
    font-family: "Courier New", monospace;
  }

  table {
    border-spacing: 0;
  }

  td, th {
    padding-right: 1.5em;
    text-align: right;
  }

  .skip-options, .flag-options, .fix-options {
    display: grid;
    gap: 1em;
    grid-template-columns: auto auto auto;
  }

  .process-options {
    display: flex;
    flex-direction: column;
    gap: 1em;

    &.mask {
      opacity: 33%;
      pointer-events: none;
    }
  }
}

.star {
  display: inline-block;
  overflow: visible;
  width: 0;
}

.footnote {
  font-size: 0.8em;
  font-style: italic;
  margin-top: -0.7em;
}

.show-busy {
  cursor: wait;
}

.info-icon {
  align-items: center;
  cursor: pointer;
  display: flex;
  border-radius: 50%;
  background-color: #00AAFF;
  color: white;
  height: 1em;
  justify-content: center;
  width: 1em;

  i {
    font-size: 0.8em;
  }
}

.show-list {
  background-color: white;
  color: black;
  left: 50%;
  max-height: 90%;
  max-width: 800px;
  overflow: auto;
  padding: 1em;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  width: 90%;
  z-index: 1;
}
