:host {
  background-color: #8AF;
  color: white;
  display: block;
}

.go-back-panel {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  height: 3.5em;
  left: 0;
  padding-left: 2em;
  right: 0;
  top: 0;
  z-index: 410;
}

.content {
  align-items: start;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 1em;
  height: calc(100dvh - 3.5em);
  overflow: auto;
  padding: 1em;
  position: relative;

  .row {
    align-items: center;
    display: flex;
    gap: 1em;
  }

  .mono {
    font-family: "Courier New", monospace;
  }

  table {
    border-spacing: 0;
  }

  td, th {
    padding-right: 1.5em;
    text-align: right;
  }

  .skip-options {
    display: grid;
    gap: 1em;
    grid-template-columns: auto auto auto;
  }
}

.star {
  display: inline-block;
  overflow: visible;
  width: 0;
}

.footnote {
  font-size: 0.8em;
  font-style: italic;
  margin-top: -0.7em;
}
