<div class="go-back-panel" [class.show-busy]="stopPending" (keyup.escape)="listToShow = null">
  <p-button label="Back" icon="pi pi-chevron-left" (click)="goBack.emit()"/>
  <p-button icon="pi pi-stop" styleClass="p-button-rounded p-button-danger" (click)="sendStop()"
    [disabled]="!isProcessing() || stopPending"></p-button>
  @if (isProcessing()) {
    <p-progressBar [value]="updateProgress"
                   [mode]="(indeterminate || updateProgress <= 0 ? 'in' : '') + 'determinate'" [showValue]="false"></p-progressBar>
  }
</div>
<div class="content" [class.show-busy]="stopPending">
  <p-button label="Refresh Video Library" icon="pi pi-refresh"
            [styleClass]="lastStatus?.currentOp === 'lib' ? 'p-button-success' : ''"
            [disabled]="isProcessing()" (click)="!isProcessing() && (showRefreshDialog = true)"/>
  <p-button label="Refresh Video Inventory" icon="pi pi-refresh"
            [styleClass]="lastStatus?.currentOp === 'inv' ? 'p-button-success' : ''"
            [disabled]="isProcessing()" (click)="!isProcessing() && refreshInventory()"/>
  <table>
    <tr>
      <th>Movie file count</th>
      <td>{{videoStats?.videoCount ? videoStats.movieCountRaw : ''}}</td>
    </tr>
    <tr>
      <th>Unique movie titles</th>
      <td>{{videoStats?.videoCount ? $any(videoStats.movieTitles)?.length : ''}}</td>
      @if ($any(videoStats?.movieTitles)?.length) {
        <td><div class="info-icon" (click)="listToShow = $any(videoStats?.movieTitles)">
          <i class="pi pi-info-circle"></i>
        </div></td>
      }
    </tr>
    <tr>
      <th>Movie storage usage</th>
      <td>{{videoStats?.videoCount ? formatSize(videoStats.movieBytes) : ''}}</td>
    </tr>
    <tr>
      <th>TV file count</th>
      <td>{{videoStats?.videoCount ? videoStats.tvEpisodesRaw : ''}}</td>
    </tr>
    <tr>
      <th>Unique TV show titles</th>
      <td>{{videoStats?.videoCount ? $any(videoStats.tvShowTitles)?.length : ''}}</td>
      @if ($any(videoStats?.tvShowTitles)?.length) {
        <td><div class="info-icon" (click)="listToShow = $any(videoStats?.tvShowTitles)">
          <i class="pi pi-info-circle"></i>
        </div></td>
      }
    </tr>
    <tr>
      <th>Unique TV show episodes</th>
      <td>{{videoStats?.videoCount ? $any(videoStats.tvEpisodeTitles)?.length : ''}}</td>
    </tr>
    <tr>
      <th>TV storage usage</th>
      <td>{{videoStats?.videoCount ? formatSize(videoStats.tvBytes) : ''}}</td>
    </tr>
    <tr>
      <th>DVD ISO image count</th>
      <td>{{videoStats?.dvdIsoCount ? videoStats.dvdIsoCount : videoStats ? '0' : ''}}</td>
    </tr>
    <tr>
      <th>Non-DVD ISO image count</th>
      <td>{{videoStats?.isoCount ? videoStats.isoCount : videoStats ? '0' : ''}}</td>
    </tr>
    <tr>
      <th>Bonus materials file count</th>
      <td>{{videoStats?.videoCount ? videoStats.extrasCount : ''}}</td>
    </tr>
    <tr>
      <th>Bonus materials storage usage</th>
      <td>{{videoStats?.videoCount ? formatSize(videoStats.extrasBytes) : ''}}</td>
    </tr>
    <tr>
      <th>Miscellaneous file count</th>
      <td>{{videoStats?.videoCount ? videoStats.miscFileCount : ''}}</td>
    </tr>
    <tr>
      <th>Miscellaneous storage usage</th>
      <td>{{videoStats?.videoCount ? formatSize(videoStats.miscFileBytes) : ''}}</td>
    </tr>
    <tr>
      <th>Streaming file count</th>
      <td>{{videoStats?.videoCount ? videoStats.streamingFileCount : ''}}</td>
    </tr>
    <tr>
      <th>Unstreamed video count</th>
      <td>{{videoStats?.videoCount ? $any(videoStats.unstreamedTitles)?.length : ''}}</td>
      @if ($any(videoStats?.unstreamedTitles)?.length) {
        <td><div class="info-icon" (click)="listToShow = $any(videoStats?.unstreamedTitles)">
          <i class="pi pi-info-circle"></i>
        </div></td>
      }
    </tr>
    <tr>
      <th>Streaming storage usage</th>
      <td>{{videoStats?.videoCount ? formatSize(videoStats.streamingFileBytes) : ''}}</td>
    </tr>
    <tr>
      <td colspan=2><hr></td>
    </tr>
    <tr>
      <th class="has-footnote">Total viewing time<span class="star">*</span></th>
      <td>{{videoStats?.totalDuration ? formatSecondsToDays(videoStats.totalDuration) : ''}}</td>
    </tr>
    <tr>
      <th class="has-footnote">Video file count<span class="star">**</span></th>
      <td>{{videoStats?.videoCount}}</td>
    </tr>
    <tr>
      <th class="has-footnote">Video storage usage<span class="star">**</span></th>
      <td>{{videoStats?.videoCount ? formatSize(videoStats.movieBytes + videoStats.tvBytes + videoStats.extrasBytes) : ''}}</td>
    </tr>
    <tr>
      <th>Total storage usage</th>
      <td>{{videoStats?.videoCount ? formatSize(videoStats.movieBytes + videoStats.tvBytes + videoStats.extrasBytes +
            videoStats.miscFileBytes + videoStats.streamingFileBytes) : ''}}</td>
    </tr>
  </table>
  <div class="footnote">*Includes only longest duration of movies/shows with multiple cuts/formats</div>
  <div class="footnote">**Not including streaming/miscellaneous</div>
  <hr style="width: 100%">
  <div class="process-options" [class.mask]="isProcessing()">
    <div class="row">
      <div class="label-pair">
        <p-checkbox [(ngModel)]="setEarliest" [binary]="true" inputId="set-earliest" id="set-earliest"></p-checkbox>
        <label for="set-earliest">Set earliest</label>
      </div>
      <p-date-picker [(ngModel)]="options.earliest" dateFormat="yy-mm-dd" [showIcon]="true" [showButtonBar]="true"
                     [disabled]="!setEarliest"></p-date-picker>
    </div>
    <div class="row">
      <label>Start<input type="text" pInputText [(ngModel)]="options.walkStart"/></label>
      <label>Stop<input type="text" pInputText [(ngModel)]="options.walkStop"/></label>
    </div>
    <div class="skip-options">
      <div class="label-pair">
        <p-checkbox [(ngModel)]="options.skipMovies" [binary]="true" inputId="skip-movies" id="skip-movies"></p-checkbox>
        <label for="skip-movies">Skip movies</label>
      </div>
      <div class="label-pair">
        <p-checkbox [(ngModel)]="options.skipTV" [binary]="true" inputId="skip-tv-shows" id="skip-tv-shows"></p-checkbox>
        <label for="skip-tv-shows">Skip TV shows</label>
      </div>
      <div class="label-pair">
        <p-checkbox [(ngModel)]="options.skipExtras" [binary]="true" inputId="skip-extras" id="skip-extras"></p-checkbox>
        <label for="skip-extras">Skip extras</label>
      </div>
    </div>
    <div class="label-pair">
      <p-checkbox [(ngModel)]="options.generateFallbackAudio" [binary]="true" inputId="gen-fallback" id="gen-fallback"></p-checkbox>
      <label for="gen-fallback">Generate fallback audio</label>
    </div>
    <div class="flag-options">
      <div class="label-pair">
        <p-checkbox [(ngModel)]="options.mkvFlags" [binary]="true" inputId="update-flags" id="update-flags"></p-checkbox>
        <label for="update-flags">Update MKV flags</label>
      </div>
      <div class="label-pair">
        <p-checkbox [(ngModel)]="options.mkvFlagsUpdateBackups" [binary]="true" inputId="update-backups" id="update-backups"
                    [disabled]="!options.mkvFlags"></p-checkbox>
        <label for="update-backups" [class.dis-faded]="!options.mkvFlags">Update Backups</label>
      </div>
      <div class="label-pair">
        <p-checkbox [(ngModel)]="options.mkvFlagsDryRun" [binary]="true" inputId="dry-run" id="dry-run"
                    [disabled]="!options.mkvFlags"></p-checkbox>
        <label for="dry-run" [class.dis-faded]="!options.mkvFlags">Dry Run</label>
      </div>
    </div>
    <div class="label-pair">
      <p-checkbox [(ngModel)]="options.generateStreaming" [binary]="true" inputId="generate-streaming" id="generate-streaming"></p-checkbox>
      <label for="generate-streaming">Generate streaming files</label>
    </div>
    <div class="label-pair">
      <p-checkbox [(ngModel)]="options.validate" [binary]="true" inputId="mkv-validate" id="mkv-validate"></p-checkbox>
      <label for="mkv-validate">MKV validate</label>
    </div>
  </div>
  <p-button label="Process" icon="pi pi-wrench"
            [styleClass]="lastStatus?.currentOp === 'proc' ? 'p-button-success' : ''"
            [disabled]="isProcessing() ||
                        (!options.generateFallbackAudio && !options.mkvFlags && !options.generateStreaming && !options.validate) ||
                        (options.skipMovies && options.skipTV && options.skipExtras)"
            (click)="!isProcessing() && runProcess()"/>
  <div>{{currentFile}}<span style="opacity: 0; user-select: none">：</span></div>
  <div class="mono">{{currentFile ? encodeProgress : ''}}</div>
</div>
@if (listToShow) {
  <div class="show-list" id="show-list">
    @for (title of listToShow; track title) {
      <div>{{title}}</div>
    }
  </div>
}
<p-dialog header="Header" [(visible)]="showRefreshDialog" [style]="{ width: 'min(35em, calc(100vw - 4em))' }">
  <ng-template pTemplate="header">
    <span class="p-dialog-title">Refresh Video Library</span>
  </ng-template>
  <p>
    Refresh the video library?
  </p>
  <ng-template pTemplate="footer">
    <div class="p-dialog-footer">
      <button pButton pButtonIcon="pi pi-refresh" (click)="refresh()">Full</button>
      <button pButton pButtonIcon="pi pi-check" (click)="refresh(true)">Quick</button>
      <button pButton pButtonIcon="pi pi-times" (click)="showRefreshDialog = false">Cancel</button>
    </div>
  </ng-template>
</p-dialog>
