:host {
  background-color: #454;
  color: white;
  display: block;
}

.go-back-panel {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  height: 3.5em;
  left: 0;
  padding-left: 2em;
  right: 0;
  top: 0;
  z-index: 310;
}

.content {
  background-size: cover;
  height: calc(100dvh - 3.5em);
  overflow: hidden;
  position: relative;

  .inner-content {
    align-content: start;
    align-items: start;
    bottom: 1em;
    display: grid;
    justify-content: center;
    left: 1em;
    overflow-y: auto;
    position: absolute;
    right: 1em;
    grid-template-columns: auto;
    top: 1em;

    .extra {
      align-items: center;
      background-color: rgba(black, 60%);
      display: flex;
      gap: 1em;
      padding: 1em;
      margin: 0.5em 0;

      a {
        opacity: 0;
        pointer-events: none;
      }
    }

    .show-watched {
      cursor: pointer;
      font-size: 2em;
      position: relative;
      top: -0.1em;
    }
  }
}

@media screen and (orientation: portrait) and (max-width: 500px) {
  .content .inner-content .extra {
    flex-wrap: wrap;
    row-gap: 0;

    a {
      flex-basis: 100%;
    }
  }
}
