<div class="go-back-panel">
  <p-button label="Back" icon="pi pi-chevron-left" (click)="goBack.emit()"/>
</div>
<div class="content" [style.background-image]="getBackgroundUrl()">
  <div class="inner-content">
    @for (extra of extras; track extra; let i = $index) {
      <div class="extra">
        @if (!localAccess()) {
          <button pButton type="button" pButtonLabel="Play" pButtonIcon="pi pi-play" class="p-button-sm"
                  [disabled]="!streamUris.get(extra.uri)" (click)="play(extra.uri)"></button>
        } @else {
          <p-splitbutton label="Play" icon="pi pi-play" class="p-button-sm"
              [model]="getPlayerMenu(i)" [class.dim]="!streamUris.get(extra.uri)" (onClick)="play(extra.uri)"></p-splitbutton>
        }
        <p-button icon="pi pi-download" label="Download" class="p-button-sm" (click)="startDownload()"></p-button>
        <a [href]="downloadLink(extra.uri)"><div>&nbsp;</div></a>
        {{getExtraTitle(extra)}}
        <app-watched-indicator [video]="getVideo(extra.uri)" class="show-watched" (onUpdate)="getPlaybackInfo()"></app-watched-indicator>
      </div>
    }
  </div>
</div>
@if (video) {
  <app-play-options [video]="video" (close)="video = null"></app-play-options>
}
<app-dash-player [src]="playSrc" (onClose)="closePlayer()" [class.active]="!!playSrc"></app-dash-player>
