.DS_Store
/coverage
node_modules
/server/dist
/server/tsc-out
Thumbs.db
tmp
tsc-out

/.vscode/*
!/.vscode/settings.json
/.idea/*
/server/cache/
/.angular/
/cert/
/dist/
/server/db.sqlite
/server/db.sqlite-journal
/server/dot.srt
/server/*.mkv
/server/*.log
