<div class='filter-panel'>
  <div class="filter-buttons">
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input type="text" pInputText [(ngModel)]="searchText"/>
      <i class="pi pi-times-circle clear-icon" [style.display]="searchText ? 'block' : 'none'"
         (click)="searchText = ''"></i>
    </span>
    <p-radioButton *ngFor="let choice of filterChoices" [label]="choice" [value]="choice"
                   [(ngModel)]="filter"></p-radioButton>
  </div>
</div>
<div class='poster-grid'>
  <div *ngIf="overview" class="overview">{{overview}}</div>
  <div *ngFor="let item of items; index as i" class="library-item">
    <ng-container *ngIf="item.type === COLLECTION">
      <div *ngIf="item.data?.length > 1" [attr.data-thumbnail]="'t2-' + i" class="poster-thumbnail-wrapper offset2">
        <img *ngIf="i < 100 || showThumbnail['t2-' + i]"
             [ngSrc]="'/api/poster?id=' + item.data[1].id + '&cs=' + checksum53(item.data[1].name) + '&w=300&h=450'"
             width="150" height="225" alt="{{item.data[1].name}}" priority>
      </div>
      <div *ngIf="item.data?.length > 0" [attr.data-thumbnail]="'t1-' + i" class="poster-thumbnail-wrapper offset">
        <img *ngIf="i < 100 || showThumbnail['t1-' + i]"
             [ngSrc]="'/api/poster?id=' + item.data[0].id + '&cs=' + checksum53(item.data[0].name) + '&w=300&h=450'"
             width="150" height="225" alt="{{item.data[0].name}}" priority>
      </div>
    </ng-container>

    <div [attr.data-thumbnail]="'t-' + i" class="poster-thumbnail-wrapper">
      <div class="loading">Loading...</div>
      <img *ngIf="i < 100 || showThumbnail['t-' + i]"
           [ngSrc]="'/api/poster?id=' + item.id + '&cs=' + checksum53(item.name) + '&w=300&h=450'"
           width="150" height="225" alt="{{item.id}}" priority>
    </div>
    <div class="rating-wrapper">
      <app-rating *ngIf="item.voteAverage" [value]="item.voteAverage" [topValue]="10"></app-rating>
    </div>
    <div class="title">{{item.name}}</div>

    <div class="clicker" (mouseenter)="overview = item.overview" (mouseleave)="overview = ''" (click)="onClick(item)"></div>
  </div>
  <div *ngFor="let item of [].constructor(8)" class="dummy-item"></div>
</div>
