<div class='filter-panel'>
  <div class="filter-items">
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input type="text" pInputText [(ngModel)]="searchText"/>
      <i class="pi pi-times-circle clear-icon" [style.display]="searchText ? 'block' : 'none'"
         (click)="searchText = ''"></i>
    </span>
    <div class="filter-buttons">
      <p-radioButton *ngFor="let choice of filterChoices" [label]="choice" [value]="choice"
                     [(ngModel)]="filter"></p-radioButton>
    </div>
  </div>
</div>
<div class="poster-wrapper">
  <div class='poster-grid'>
    <div *ngIf="overview" class="overview">{{overview}}</div>
    <div *ngFor="let item of items; index as i" class="library-item">
      <ng-container *ngIf="!item.isAlias && isCollection(item); else notCollection">
        <div *ngIf="item.data?.length > 1" [attr.data-thumbnail]="'t2-' + i" class="poster-thumbnail-wrapper offset2">
          <img *ngIf="i < 100 || showThumbnail['t2-' + i]"
               [ngSrc]="getPosterUrl(item.data[1])" width="150" height="225" alt="{{item.data[1].name}}" priority>
        </div>
        <div *ngIf="item.data?.length > 0" [attr.data-thumbnail]="'t1-' + i" class="poster-thumbnail-wrapper offset">
          <img *ngIf="i < 100 || showThumbnail['t1-' + i]"
               [ngSrc]="getPosterUrl(item.data[0])" width="150" height="225" alt="{{item.data[0].name}}" priority>
        </div>
      </ng-container>
      <ng-template #notCollection><span class="hash">{{hashTitle(item.name)}}</span></ng-template>

      <div [attr.data-thumbnail]="'t-' + i" class="poster-thumbnail-wrapper">
        <div *ngIf="item.aliasPosterPath || !item.isAlias || item.isLink" class="loading">Loading...</div>
        <img *ngIf="i < 100 || showThumbnail['t-' + i]"
             [ngSrc]="getPosterUrl(item)" width="150" height="225" alt="{{item.id}}" priority>
        <fa-icon *ngIf="item.isLink" [icon]="faShare"
                 class="fa-xl fa-rotate-by stroke-path" style="--fa-rotate-angle: -45deg;"></fa-icon>
        <fa-icon *ngIf="item.id !== floor(item.id) && !item.isLink" [icon]="faFolderOpen" class="fa-xl stroke-path"></fa-icon>
      </div>
      <div class="rating-wrapper">
        <app-watched-indicator [video]="item" class="show-watched" [asAdmin]="true" fade="unwatched"></app-watched-indicator>
        <app-rating [style.opacity]="item.voteAverage ? '1' : '0'" [value]="item.voteAverage" [topValue]="10"></app-rating>
        <app-watched-indicator [video]="item" class="show-watched" fade="unwatched"></app-watched-indicator>
      </div>
      <div class="title" [style.font-style]="item.isAlias ? 'italic' : 'plain'">{{titleAdjust(item.name)}}</div>

      <div class="clicker" (mouseenter)="overview = item.overview" (mouseleave)="overview = ''" (click)="onClick(item)"></div>
    </div>
    <div *ngFor="let item of [].constructor(8)" class="dummy-item"></div>
  </div>
  <div class="letter-nav" [style.opacity]="resizing ? '0' : '1'">
    <div *ngFor="let group of letterGroups" (click)="jumpScroll(group)"
         [style.transform]="letterGroups.length < 27 ? 'scale(0.75, 1)' : 'none'">{{group}}</div>
  </div>
</div>
