:host {
  background-color: #333;
  color: white;
  display: grid;
  gap: 3em;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  padding: 0.5em;
}

.collection-item {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  position: relative;

  .title {
    text-align: center;
  }
}

.offset, .offset2 {
  position: absolute;
  left: 1.5em;
  top: -0.75em;
  z-index: unset;
}

.offset2 {
  left: 2.5em;
  top: -1.5em;
}

.poster-thumbnail-wrapper {
  border: #333 1px solid;
  height: 225px;
  width: 150px;
  z-index: 1;
}
