:host {
  background-color: #333;
  color: white;
  display: block;
  position: relative;
}

.filter-panel {
  background-color: black;
  color: white;
  height: 3.5em;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;

  .filter-buttons {
    align-items: center;
    display: flex;
    gap: 2em;
    height: 100%;
    padding-left: 2em;

    .clear-icon {
      color: #848484;
      right: 0.4em;
    }

    .p-inputtext {
      padding-right: 1.85em;
    }
  }
}

.poster-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 3em;
  height: calc(100vh - 3.5em);
  justify-content: center;
  overflow: auto;
  padding: 2em;
  position: relative;
}

.library-item {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  position: relative;
  width: 150px;

  .title {
    text-align: center;
  }

  .rating-wrapper {
    height: 19px;
  }
}

.offset, .offset2 {
  position: absolute;
  left: 0.5em;
  top: -0.5em;
  z-index: unset;
}

.offset2 {
  left: 1em;
  top: -1em;
}

.poster-thumbnail-wrapper {
  border: #333 1px solid;
  height: 227px;
  width: 152px;
  z-index: 1;

  .loading {
    background-color: rgba(blue, 0.25);
    font-style: italic;
    left: 1px;
    line-height: 223px;
    position: absolute;
    right: 1px;
    text-align: center;
    top: 1px;
    z-index: -1;
  }
}

.clicker {
  background-color: transparent;
  bottom: 0;
  cursor: pointer;
  left: 0;
  pointer-events: all;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}

.overview {
  background-color: rgba(black, 0.5);
  bottom: 0;
  left: 0;
  padding: 1em;
  pointer-events: none;
  position: fixed;
  right: 0;
  z-index: 3;
}

.dummy-item {
  height: 1px;
  width: 150px;
}
