<div class="title">Zidoo Play Options<span *ngIf="demo()" class="demo"> (demo mode)</span></div>

<ng-container *ngIf="players.length > 1">
  <label>Player</label>
  <p-dropdown class="w-fill" [options]="players" optionValue="id" [(ngModel)]="playerIndex"></p-dropdown>
  <div></div>
</ng-container>

<div></div>
<p-checkbox [disabled]="!canChoose" [(ngModel)]="usePlayerDefaults" [binary]="true" label="Use player default audio/subtitles"></p-checkbox>
<div></div>

<ng-container *ngIf="audioChoices.length > 1">
  <label>Audio</label>
  <p-dropdown [disabled]="usePlayerDefaults" class="w-fill" [options]="audioChoices" optionValue="id"
              [(ngModel)]="audioIndex" (onChange)="audioChanged()"></p-dropdown>
  <div class="adornment">
    <i *ngIf="video?.visualDescription" class="pi pi-eye-slash"></i>
    <i *ngIf="audioLangs.size > 1" class="pi pi-language"></i>
    <i *ngIf="video?.commentaryAudio" class="pi pi-comments"></i>
    <span *ngIf="video?.isolatedMusic">♫</span>
  </div>
</ng-container>

<ng-container *ngIf="subtitleChoices.length > 1">
  <label>Subtitles</label>
  <p-dropdown  [disabled]="usePlayerDefaults" class="w-fill" [options]="subtitleChoices" optionValue="id"
               [(ngModel)]="subtitleIndex"></p-dropdown>
  <div class="adornment">
    <img *ngIf="video?.sdh" ngSrc="assets/sdh.svg" width=16 height=16 alt="SDH">
    <i *ngIf="subtitleLangs.size > 2 - (subtitleLangs.has(defaultLang) ? 1 : 0)" class="pi pi-language"
       [class.forced]="forcedSubs.size > 0"></i>
    <i *ngIf="video?.commentaryText" class="pi pi-comments"></i>
  </div>
</ng-container>

<div class="buttons"><div>
  <p-button class="w-fill" styleClass="p-button-rounded p-button-secondary" label="Cancel" (click)="closed = true"></p-button>
  <div class="busy-wrapper" [class.busy]="busy">
    <p-button class="w-fill" [disabled]="demo()" styleClass="p-button-rounded" label="Play"
              (click)="!busy && !demo() && playOnMediaPlayer()"></p-button>
    <i class="pi pi-spin pi-sync"></i>
  </div>
</div></div>
