<div class="info-line" [style.opacity]="showHeader ? 1 : 0">
  <div class="resolution">{{currentResolution}}</div>
  <p-button icon="pi pi-times" styleClass="p-button-rounded" (click)="onClose.emit()"></p-button>
</div>
<video id="dash-player" controls [style.display]="webMUrl ? 'none' : 'block'"
   [style.cursor]="showHeader ? 'default' : 'none'"></video>
<video *ngIf="webMUrl" id="webm-player" controls [style.cursor]="showHeader ? 'default' : 'none'">
  <source [src]="webMUrl" [type]="webMUrl.endsWith('.webm') ? 'video/webm' : 'video/mp4'">
</video>
