<div class="continue-prompt" [style.display]="lastPlayTime ? 'flex' : 'none'">
  <span>Continue from last playback point? ({{ countdown < 10 ? '0' : '' }}{{ countdown }})</span>
  <p-button label="No" styleClass="p-button-sm" (click)="dontContinue()"></p-button>
  <p-button label="Yes" styleClass="p-button-sm" (click)="yesContinue()"></p-button>
</div>
<div class="info-line" [style.opacity]="showHeader ? 1 : 0">
  <div class="resolution">{{currentResolution}}</div>
  <p-button icon="pi pi-times" styleClass="p-button-rounded" (click)="closeVideo()"></p-button>
</div>
<video id="dash-player" controls [class.narrow]="narrow" [style.display]="videoUrl ? 'none' : 'block'"
   [style.cursor]="showHeader ? 'default' : 'none'"></video>
<video *ngIf="videoUrl" id="direct-player" controls [class.narrow]="narrow" [style.cursor]="showHeader ? 'default' : 'none'">
  <source [src]="videoUrl" [type]="videoUrl.endsWith('.webm') ? 'video/webm' : 'video/mp4'">
</video>
