:host {
  align-items: center;
  background-color: #226;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
}

.info-line {
  display: flex;
  gap: 1em;
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 301;

  .resolution {
    opacity: 0.5;
  }
}

video {
  height: min(1080px, calc(100vh - 5.5em));
  margin-top: 3.5em;
  width: min(1920px, calc(100vw - 2em));
}
