:host > div {
  cursor: pointer;
  font-size: 2em;
  user-select: none;
}

.divider {
  height: 100%;
  left: 50%;
  pointer-events: none;
  position: absolute;
  top: 0.25em;
  width: 50%;
}

.incomplete {
  bottom: -1.1em;
  font-size: 0.5em;
  pointer-events: none;
  position: absolute;
  right: -0.1em;
}

.touch-indicator {
  background-color: rgba(white, 25%);
  border-radius: 50%;
  height: 2em;
  left: calc(50% - 1em);
  pointer-events: none;
  position: absolute;
  top: -0.35em;
  width: 2em;

  &.active {
    background-color: rgba(lime, 33%);
  }
}

.drop {
  filter: drop-shadow(1px 1px 1px black)
}

.wait {
  color: #0AF;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0.7em;
}
