:host {
  background-color: #222;
  color: white;
  display: block;
}

.go-back-panel {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  height: 3.5em;
  left: 0;
  padding-left: 2em;
  right: 0;
  top: 0;
  z-index: 110;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;

  .collection-title {
    font-size: 2em;
    padding: 0.5em 0 1em 0;
  }

  .item-list {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 5em;
    justify-content: center;
    margin-top: 1em;
    min-height: calc(75vh - 3.5em);
    overflow: auto;

    .library-item {
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: 0.5em;
      position: relative;
      width: calc(150px + 2em);

      .loading {
        font-style: italic;
        left: 0;
        line-height: 225px;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        z-index: -1;
      }

      .title, .year {
        text-align: center;
      }
    }
  }
}
