:host {
  background-color: #00252F;
  background-image: url("/assets/stars-g.jpg");
  color: white;
  display: block;
}

.go-back-panel {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  height: 3.5em;
  left: 0;
  padding-left: 2em;
  position: relative;
  right: 0;
  top: 0;
  z-index: 110;

  .collection-title-alt {
    display: none;
  }
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;

  .collection-title {
    font-size: 2em;
    padding: 0.5em 0.25em;
    text-align: center;
  }

  .item-list {
    align-items: center;
    background-repeat: repeat;
    column-gap: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-height: calc(100dvh - 6em);
    min-height: calc(75dvh - 3.5em);
    overflow: auto;
    padding: 1.5em 1em 4em;
    row-gap: 3em;

    .library-item {
      align-items: center;
      display: flex;
      flex-direction: column;
      position: relative;
      width: calc(150px + 2em);

      .loading {
        background-color: rgba(blue, 0.25);
        border-radius: 0.33em;
        font-style: italic;
        left: 1px;
        line-height: 223px;
        margin-left: 1em;
        position: absolute;
        right: 1px;
        text-align: center;
        top: 1px;
        width: 148px;
        z-index: -1;
      }

      .progress-wrapper {
        display: flex;
        flex-direction: column;
        gap: 1px;
        overflow: visible;
      }

      .rating-wrapper {
        display: flex;
        gap: 0.25em;
        height: 19px;
        margin-top: 0.25em;
        position: relative;
      }

      .show-watched {
        height: 19px;
        position: relative;
        top: -0.75em;
        z-index: 103;
      }

      img {
        border-radius: 0.33em;
      }

      .title, .year {
        margin-top: 0.5em;
        text-align: center;
      }

      .title {
        display: -webkit-box;
        height: 2.4em;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
      }
    }
  }

  .clicker {
    background-color: transparent;
    bottom: 0;
    cursor: pointer;
    left: 0;
    pointer-events: all;
    position: absolute;
    right: 0;
    top: 0;
    user-select: none;
    z-index: 102;
  }

  app-collection-view {
    bottom: 0;
    left: 100%;
    height: 100dvh;
    width: 100vw;
    position: absolute;
    top: 0;
    transition: left 0.5s ease-in-out;

    &.active {
      left: 0;
    }
  }
}

.overview {
  background-color: rgba(black, 0.5);
  bottom: 0;
  left: 0;
  padding: 1em;
  pointer-events: none;
  position: fixed;
  right: 0;
  z-index: 103;
}

@media screen and (orientation: landscape) and (max-height: 500px) {
  .go-back-panel .collection-title-alt {
    display: block;
    font-size: 1.8em;
    left: 0;
    padding: 0 6em;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    right: 0;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .content .collection-title {
    display: none;
  }
}
