:host {
  background-color: #222;
  color: white;
  display: block;
}

.go-back-panel {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  height: 3.5em;
  left: 0;
  padding-left: 2em;
  right: 0;
  top: 0;
  z-index: 110;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;

  .collection-title {
    font-size: 2em;
    padding: 0.5em 0;
  }

  .item-list {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 5em;
    justify-content: center;
    max-height: calc(100vh - 6em);
    min-height: calc(75vh - 3.5em);
    overflow: auto;
    padding: 1.5em 0 4em;

    .library-item {
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: 0.5em;
      position: relative;
      width: calc(150px + 2em);

      .loading {
        background-color: rgba(blue, 0.25);
        font-style: italic;
        left: 1px;
        line-height: 223px;
        margin-left: 1em;
        position: absolute;
        right: 1px;
        text-align: center;
        top: 1px;
        width: 148px;
        z-index: -1;
      }

      .rating-wrapper {
        height: 19px;
      }

      .title, .year {
        text-align: center;
      }
    }
  }

  .clicker {
    background-color: transparent;
    bottom: 0;
    cursor: pointer;
    left: 0;
    pointer-events: all;
    position: absolute;
    right: 0;
    top: 0;
    user-select: none;
    z-index: 102;
  }
}

.overview {
  background-color: rgba(black, 0.5);
  bottom: 0;
  left: 0;
  padding: 1em;
  pointer-events: none;
  position: fixed;
  right: 0;
  z-index: 103;
}
