<div class="go-back-panel">
  <p-button label="Back" icon="pi pi-chevron-left" (click)="goBack.emit()"/>
  <div class="collection-title-alt">{{collection?.name}}</div>
</div>
<div class="content">
  @if (overview) {
    <div class="overview">{{overview}}</div>
  }
  <div class="collection-title">{{collection?.name}}</div>
  <div class="item-list">
    @for (item of items; track item; let i = $index) {
      <div class="library-item">
        <div class="loading">Loading...</div>
        <div class="video-tags" [style.right]="'0.5em'">
        @if (item.isSD) {<div class="sd">SD</div>}
        @if (item.is3d && filter !== '3D') {<div class="d3">3D</div>}
        @if (item.is4k && filter !== '4K') {<div>4K</div>}
        @if (item.isTV && filter !== 'TV') {<div class="tv">TV</div>}
        </div>
        <img [ngSrc]="getPosterUrl(item)" width=150 height=225 alt="{{item.name}}" priority>
        <div class="progress-wrapper">
          <div class="playback-progress" [id]="'prog-c-' + item.id + '-' + i"><div></div></div>
          <div class="playback-progress admin" [id]="'prog-c-a-' + item.id + '-' + i"><div></div></div>
        </div>
        <div class="rating-wrapper" [style.display]="subCollection ? 'none' : 'flex'">
          <app-watched-indicator [progressBar]="'prog-c-a-' + item.id + '-' + i" [video]="item" class="show-watched"
                                 [asAdmin]="true" fade="unwatched" [title]="item.name"></app-watched-indicator>
          <app-rating [style.opacity]="item.voteAverage ? '1' : '0'" [value]="item.voteAverage" [topValue]="10"></app-rating>
          <app-watched-indicator [progressBar]="'prog-c-' + item.id + '-' + i" [video]="item" class="show-watched"
                                 fade="unwatched"></app-watched-indicator>
        </div>
        <div class="year">{{item.year || (item.data ?? [])[0]?.year || '\u00A0'}}</div>
        <div class="title" [style.font-style]="collection.isAlias ? 'italic' : 'plain'">{{item.name}}</div>
        <span class="hash">{{hashTitle(item.name)}}</span>

        <div class="clicker" (click)="onClick(item)" (mouseenter)="overview = item.overview" (mouseleave)="overview = ''"></div>
      </div>
    }
  </div>
  @if (collection) {
    <app-collection-view [class.active]="subCollection" [collection]=subCollection
                         (goBack)="subCollection = null" (showSelected)="showSelected.emit($event)"></app-collection-view>
  }
</div>
