<div class="go-back-panel">
  <p-button label="Back" icon="pi pi-chevron-left" (click)="goBack.emit()"/>
  <div class="collection-title-alt">{{collection?.name}}</div>
</div>
<div class="content">
  <div *ngIf="overview" class="overview">{{overview}}</div>
  <div class="collection-title">{{collection?.name}}</div>
  <div class="item-list">
    <div *ngFor="let item of items" class="library-item">
      <div class="loading">Loading...</div>
      <img [ngSrc]="getPosterUrl(item)" width=150 height=225 alt="{{item.name}}" priority>
      <div class="rating-wrapper">
        <app-rating *ngIf="item.voteAverage" [value]="item.voteAverage" [topValue]="10"></app-rating>
      </div>
      <div class="year">{{item.year || (item.data ?? [])[0]?.year || '\u00A0'}}</div>
      <div class="title" [style.font-style]="collection.type < 0 ? 'italic' : 'plain'">{{item.name}}</div>
      <span class="hash">{{hashTitle(item.name)}}</span>

      <div class="clicker" (click)="onClick(item)" (mouseenter)="overview = item.overview" (mouseleave)="overview = ''"></div>
    </div>
  </div>
  <app-collection-view *ngIf="collection"
                       [class.active]="subCollection" [collection]=subCollection
                       (goBack)="subCollection = null" (showSelected)="showSelected.emit($event)"></app-collection-view>
</div>
