:root {
  --overview-width: unset;
  --scrollbar-width: 15px;
}

body {
  background-color: #333;
  font: 14px Arial, Helvetica, sans-serif;
  margin: 0;
  overflow: hidden;
}

p-progressBar {
  display: inline-block;
  width: 20em;

  .p-progressbar {
    height: 1.5em;
  }
}

.p-button.p-button-sm.p-button-rounded {
  height: 1.8rem;
  width: 1.8rem;
}

app-dash-player {
  bottom: 50%;
  height: 0;
  left: 50%;
  overflow: hidden;
  pointer-events: none;
  position: fixed;
  right: 50%;
  transition: bottom 0.5s, height 0.5s, left 0.5s, right 0.5s, top 0.5s, width 0.5s;
  top: 50%;
  width: 0;
  z-index: 300;

  &.active {
    bottom: 0;
    height: 100dvh;
    left: 0;
    pointer-events: all;
    right: 0;
    top: 0;
    width: 100vw;
  }
}

.hash {
  display: none;
  position: absolute;
}

fa-icon.stroke-path > svg > path {
  stroke: white;
  stroke-width: 20px;
}

p-splitbutton.p-element.dim .p-splitbutton.p-component button.p-element.p-splitbutton-defaultbutton.p-button.p-component .p-button-label {
  opacity: 0.33;
}

p-treeSelect.wide > div {
  min-width: 155px;
}

p-treeSelect .p-tree {
  padding: 0.5rem;

  .p-tree-container .p-treenode .p-treenode-content {
    padding: 0.25rem;

    .p-tree-toggler {
      height: 1rem;
      width: 1rem;
    }
  }
}
