:root {
  --overview-width: unset;
  --scrollbar-width: 15px;
}

body {
  background-color: #333;
  font: 14px Arial, Helvetica, sans-serif;
  margin: 0;
  overflow: hidden;
}

.p-component, label {
  font-size: 16px;
}

.dis-faded {
  opacity: 0.33;
}

p-button.p-button-sm {
  padding-left: 0;
  padding-right: 0;

  .p-button-label {
    position: relative;
    top: 1px;
  }
}

.label-pair {
  display: flex;
  gap: 0.5em;
}

.p-button-icon-only.p-button-rounded {
  height: 38px !important;
  width: 38px;
}

.p-dialog-footer {
  flex-wrap: wrap;
  max-width: 100%;
}

p-progressBar {
  display: inline-block;
  width: 20em;

  .p-progressbar {
    background-color: #E0E0EE;
    height: 1.5em;
  }
}

.p-input-text {
  padding-block-end: 7px;
  padding-bottom: 7px;
}

app-dash-player {
  bottom: 50%;
  height: 0;
  left: 50%;
  overflow: hidden;
  pointer-events: none;
  position: fixed;
  right: 50%;
  transition: bottom 0.5s, height 0.5s, left 0.5s, right 0.5s, top 0.5s, width 0.5s;
  top: 50%;
  width: 0;
  z-index: 300;

  &.active {
    bottom: 0;
    height: 100dvh;
    left: 0;
    pointer-events: all;
    right: 0;
    top: 0;
    width: 100vw;
  }
}

.hash {
  display: none;
  position: absolute;
}

fa-icon.stroke-path > svg > path {
  stroke: white;
  stroke-width: 20px;
}

.p-confirmdialog-icon {
  font-size: 2em !important;
}

p-treeSelect.wide > div {
  min-width: 10em;
}

p-treeSelect.select-style .p-tree {
  .p-tree-node-content {
    padding: 4px;
  }

  .p-tree-node:focus-visible > .p-tree-node-content {
    box-shadow: none;
    outline: none;
  }

  .p-tree-node-toggle-button {
    height: 22px;
    width: 22px;
  }
}

.playback-progress {
  background-color: #00F;
  height: 4px;
  visibility: hidden;
  width: 150px;

  > div {
    height: 100%;
    background-color: #0CF;
    width: 50%;
  }

  &.admin {
    background-color: #060;

    > div {
      background-color: #0D0;
    }
  }
}

.video-tags {
  display: flex;
  gap: 0.25em;
  opacity: 0.7;
  pointer-events: none;
  position: absolute;
  right: -0.5em;
  top: -0.5em;
  user-select: none;

  > div {
    background: #FF6;
    color: black;
    padding: 0.2em;

    &.d3 {
      background: #CF3;
    }

    &.sd {
      background: #F93;
    }

    &.tv {
      background: #69F;
    }
  }
}
