body {
  background-color: #333;
  font: 14px Arial, Helvetica, sans-serif;
  margin: 0;
  overflow: hidden;
}

.p-rating {
  gap: 1px !important;
}

staricon, starfillicon {
  > svg {
    color: #007AD9 !important;
    height: 0.75em !important;
    width: 0.75em !important;
  }
}
